{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="email">Введите ваш email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
                        <button type="submit" class="btn btn-success">
                        Поменять пароль 
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}